body {
  background-color: #baddef;
  margin-top: 50px;
  font-family: "Lato";
}

.item {
  background-color: rgb(215, 177, 232);
  padding: 15px;
  margin-bottom: 15px;
  border: transparent;
  border-radius: 5px;
  box-shadow: 0 0 1em hsl(77, 54%, 75%);
  transition: all 0.2s ease-in-out;
}

.item:hover {
  box-shadow: 0 0 1em #f2afeb;
}

.item.completed {
  text-decoration: line-through;
}

.toggles {
  color: rgb(233, 219, 149);
}

.name {
  padding-top: 3px;
}

.remove {
  padding-left: 0;
}

button:focus {
  border: 1px solid #e48ee2;
}
